.login-background {
  height: 100vh; /* Full height of the viewport */
  background-image: url('../images/bgimage.png'); /* Adjust path as needed */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-layout {
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: center; /* Center horizontally */
  width: 80%; /* Adjust based on preference */
}

.logo-container {
  display: flex;
  justify-content: flex-start; /* Align logo to the left */
  margin-right: 350px; /* Smaller margin to reduce distance */
  max-width: 30%; /* Adjust based on preference */
}

.rc-logo {
  max-width: 100%; /* Make sure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

.login-container {
  flex: 1; /* Take up remaining space */
  background-color: rgba(21, 29, 39, 0.8); /* Set background color with 60% opacity */
  padding: 20px; /* Reduce padding */
  border-radius: 20px; /* Set border radius */
  border: 1px solid #00B0B0; /* Set border color */
  display: flex;
  flex-direction: column;
  align-items: center; /* Align form items */
  width: 100%; /* Set width to 100% of available space */
  max-width: 320px; /* Set max-width to ensure it doesn't exceed a certain size */
  height: 400px; /* Set height to 400 pixels */
}

.title {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  width: 100%; /* Full width of the container */
}

.login-title {
  color: #fff; /* Red text color */
  font-weight: 600; /* Semibold font-weight */
  font-size: 34px; /* Increase font size */
  margin-bottom: 50px; /* Add spacing below the title */
  text-align: center;
}

.login-input {
  padding: 10px 25px; /* Add padding of 10px on top and bottom, and 15px on left and right */
  margin-bottom: 30px; /* Add equal spacing between input fields */
  border: none; /* Remove the border */
  border-bottom: 2px solid #fff; /* Set only bottom border */
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1); /* Set background color with reduced opacity */
  width: 100%; /* Full width of the form */
  outline: none;
  transition: border-color 0.63s ease; /* Add transition effect on border-color */
}

.login-button {
  padding: 10px;
  margin-top: 20px; /* Add equal spacing above the button */
  border: none;
  color: #fff; /* Red text color */
  font-weight: 600; /* Semibold font-weight */
  background-color: #19B4B6; /* Background color */
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  width: 100%; /* Full width of the button */
}

/* Adjust the opacity of the placeholder text */
.login-input::placeholder {
  color: #878787; /* Set text color with 60% opacity */
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255); /* White background color with reduced opacity */} */

/* Add hover effect on placeholder */
.login-input:focus::placeholder {
  transform: translateY(-20px); /* Move placeholder up */
}

/* Add hover effect on border-bottom */
.login-input:focus {
  border-bottom-color: #19B4B6; /* Change border color on focus */
  outline: none;
}
